
* {
	box-sizing: border-box;
}

body {
	display: block;
	font-family: "Noto Sans TC", "Times New Roman", 
		"微軟正黑體", "新細明體", arial, sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0px 0px;
}
a {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	}
	h2
	{
		color: #0874b8;
	}



img {
	max-width: 80%;
}
/*=================     */

.main-header,
.main-nav
{
	display: flex;
	align-items:center;
	margin: 0px 40px;
}

.name a{
	color: #0874b8;
	font-family: "Comic Sans MS";
	font-size: 1em;
	margin: 0;
}

.name a,
.time_remain,
.main-nav a {
	display: block;
	text-align: center ;
	margin: 0px 10px;	
}
.time_remain{
	font-size: 1.5em;
	color: #c20f0f;
}


.main-nav a
{
	font-size: 1.2em;
	color: rgb(0, 0, 0);	
	padding: 7px 14px;
	border: 1.4px black solid;
	border-radius: 15px;
}	

.main-nav img
{
	cursor:pointer;
}



.main-nav a:hover
{
	color: #3788bb;
}

.main-header {
	justify-content: space-between;
	padding-bottom: .5em;
}


.banner {
	color: #fff;
	/* background: rgb(5, 5, 95); */
	background: rgb(11, 2, 58);
	padding: 0.8em 0;
	margin-bottom: 48px;
	text-align: center;
}


.second-title {
	display: block;
	text-align: center ;

}



.pickstock {
	padding: 1em 0;
	margin: 30px;
	text-align: center;
}


.main-footer {
	background: #d9e4ea;
	text-align: center;
	padding: 0.5em 0;
	margin-top: 30px;

}


.directions {
	margin: 20px 50px;
}

.col ul{
	display: block;
	list-style-type: disc;
	padding-left: 40px; 
	padding-bottom: 20px;
	font-size: 1.2em;
}

strong{
	color: rgb(248, 0, 0);

}
/* ================================= 
  Media Queries
