@import "index.css";
main{
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 120px; 
}
.socket {
  text-align: center ;

}

h2 {
  margin-bottom: 50px;
}

.socket li {
  margin: 20px;

}


.socket li a{
  font-size: 1.2em;
	color: rgb(0, 0, 0);	
	padding: 7px 14px;
}
.socket a:hover
{
	color: #3788bb;
}

