@import "index.css";
main{
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 120px; 
}
.socket {
  text-align: center ;

}

.socket ul {
  margin-top: 60px;

}
.socket li {
  margin: 40px;

}


.socket li a{
  font-size: 1.2em;
	/* color: rgb(0, 0, 0);	 */
  padding: 7px 14px;
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  border: 1px solid transparent;
  border-radius: .25rem;
}
}
.socket a:hover
{
	color: #3788bb;
}

