@import "index.css";
main{ 
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center ;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 120px; 
}
.button_col
{
	display: flex;
  align-items:center;
  justify-content: space-around;
  margin-top: 30px;
}


.button_col a
{
	font-size: 1.5em;
	padding: 7px 14px;
  cursor: pointer;
  border: 1px solid #eaeaef;
  background: #e33e33;
  color: #fff;
  margin: 0 50px;
}	
.button_col a:hover
{
	color: #ffe600;
}
.list {
  margin: 5px 10px;

}
table{
  display: table;
  max-width: 1200px;
  margin-top: 20px;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
}

thead td{
  font-size: 12pt;
}
td {
  white-space:nowrap; 
  font-size: 11pt;
  min-width: 80px;
}
/* tbody tr:nth-child(even) {background-color: #f2f2f2;} */