@import "index.css";
main{
  display: flex;
  justify-content: space-between;
}
.chat {
  font-size: 1.2em;
    width: 1000px;
    margin: 20px auto;
}
#msglog, #messageInput {
  border: 1px solid #ccc;
  width: 500px;
  height: 350px;
  overflow-y: auto;
  font-size: 14px;
}
#messageInput {
  font-size: 14px;
  height: 80px;
}
.message {
  font-size: 16px;
  line-height: 22px;
}
.message .user {
  padding-right: 5px;
  padding-left: 5px;
  color: brown;
}
.sysMsg {
  color: #0909f0;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 16px;
}
#users {
  width: 490px;
  padding: 0 5px 5px;
}